  <div id="container">
    <ion-card>
  <ion-card-header>
    <ion-card-title><strong>Signup</strong></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input  placeholder="Enter Username"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input  type="password" placeholder="Enter Password"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input  type="password" placeholder="Confirm Password"></ion-input>
    </ion-item> 
    <ion-button routerLink="/home" routerDirection="forward" color="primary" slots="end" strong="true" >Signup</ion-button>
  </ion-card-content>
</ion-card>


  </div>