<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mobile Legends Card Matching Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Mobile Legends Card Matching Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong> Welcome to Mobile Legends Card Matching Game </strong>
    <p>Match the heroes to win</p>
    <ion-button expand="block" routerLink="/level1" routerDirection="forward">
    Level 1
  </ion-button>

  </div>
  
</ion-content>
