

<div id="container">
    <ion-card>
  <ion-card-header>
    <ion-card-title><strong>Login</strong></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input  placeholder="Enter Username"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-input  type="password" placeholder="Enter Password"></ion-input>
    </ion-item> 
    <ion-button routerLink="/index" routerDirection="forward"color="primary" slots="end" strong="true" >Login</ion-button>

    <p><a routerLink="/main" routerDirection="forward">Dont have an account? Sign in now</a></p>
  </ion-card-content>
</ion-card>


  </div>
